@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&family=Shadows+Into+Light&display=swap');

body {
    margin: 0;
    background-color: #48a3d8;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: white;
    font-family: "Shadows Into Light", Helvetica, sans-serif;
    font-size: 45px;
    text-decoration: none;
    padding: 15px;
}

nav a:hover {
    text-align: center;
    font-family: "Kaisei Decol", Helvetica, sans-serif;
    font-size: 45px;
    text-decoration: none;
    padding: 35px;
}

#menu {
    display: none;
}

header {
    background-color: #4c230a;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 150px;
    height: 100%;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 75px;
    margin-bottom: 35px;
}

.concept {
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    width: 75%;
    justify-self: center;
}

.DM {
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 75%;
    justify-self: center;
    margin-top: 100px;
    text-align: center;
}

.characters {
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
    margin-top: 50px;
    width: 75%;
    justify-self: center;
}

#dice {
    width: 75%;
    justify-self: center;
}

#forest {
    width: 75%;
    justify-self: center;
    margin-top: 50px;
}

.concept h2 {
    font-family: "Shadows Into Light", Helvetica, sans-serif;
    font-size: 35px;
    margin: 0;
}

.DM h2 {
    font-family: "Shadows Into Light", Helvetica, sans-serif;
    font-size: 35px;
    margin: 0;
}

.characters h2 {
    font-family: "Shadows Into Light", Helvetica, sans-serif;
    font-size: 35px;
    margin: 0;
}

.concept p {
    font-family: "Kaisei Decol", Helvetica, sans-serif;
    font-size: 20px;
}

.DM p {
    font-family: "Kaisei Decol", Helvetica, sans-serif;
    font-size: 20px;
}

.characters p {
    font-family: "Kaisei Decol", Helvetica, sans-serif;
    font-size: 20px;
}

footer {
    background-color: #4c230a;
    padding: 25px 50px;
    text-align: center;
    margin-top: 50px;
    color: white;
}

/*
lore page css
*/

.lore-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

.lore-grid h1{
    grid-row: 2/3;
    grid-column: 1/3;
    font-family: "Shadows Into Light", Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}

.lore-content {
    margin-left: 75px;
    margin-right: 75px;
    grid-row: 3/4;
    grid-column: 1/3;
    font-family: "Kaisei Decol", Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
}

#map {
    width: 45%;
    justify-self: center;
    grid-column: 1/3;
    margin-top: 50px;
}

/*
adventure page css
*/

.adventure-grid {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
}

.adventure-grid h1 {
    grid-row: 1/2;
    font-family: "Shadows Into Light", Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 33.5px 20px;
}

.adventure-grid p {
    margin-left: 75px;
    margin-right: 75px;
    font-family: "Kaisei Decol", Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
}

#cave {
    margin-top: 50px;
    width: 30%;
    justify-self: center;
    grid-row: 3/4;
}